
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* justify-content: center; */
}

header{
    background-color: rgb(206, 204, 204);
    padding: 30px;
    padding-left: 50px;
    width: 100%;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay.active{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color:white;
}

.popup{
    position:fixed;
    top:0;
    left: 0;
    display: none;
    width:50vw;
    height: 50vh;
    background-color:  rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}

.popup.active{
    display: block;
    transform: translate(50%,50%);
    /* text-align: center; */
    padding: 20px;
    
}

.winnerDialog{
    position:fixed;
    top:0;
    left: 0;
    display: none;
    width:50vw;
    height: 50vh;
    background-color:  rgba(0, 0, 0, 0.5);;
    z-index: 1;
}

.winnerDialog.active{
    display: flex;
    flex-direction: column;
    transform: translate(50%,50%);
    /* text-align: center; */
    justify-content: center;
    padding: 20px;
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
    color: white;
}


.details{
        /* text-align: center; */
    /* box-sizing: border-box; */
    /* margin: 20px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 100%; */
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    align-content: center;
    
}

.details h1{
    grid-column: 1 / 3;
}

.details .input{
    margin: 10px;
    text-align: center;
}

.details input{
    /* width: 100%; */
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    font-size: large;
    padding: 5px;
}

.details .pTwo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.details .imgP{
    height: 200px;
    font-size: 100px;
    
}

.details .start{
    grid-column: 1/3;
    font-size: xx-large;
    background-color: aliceblue;
    padding: 10px;
}

.details .start:hover{
    transform: scale(1.1);
    background-color: rgb(183, 210, 233);
}


.container{
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: flex; */
    /* flex-grow: 2; */
    /* flex-basis: 1; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 200px;

    height: 500px;
    width: 500px;
}


.gameGrid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);    
    /* align-items: center; */
    /* align-content: center; */
    /* justify-items: center; */
    /* justify-content: center; */
    gap: 20px;
    position: relative;
}

.line{
    width: 80%;
    height: 0px;
    z-index: 1;
    left: 0;
    background-color: black;
    transition: width 5s ease-in-out;
    position:absolute;
    /* transform: translate(20px,30px) rotate(0deg); */
}

.gameGrid .box{
    border: 2px solid black;
    text-align: center;
    font-size: xx-large;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    cursor: pointer;
    /* align-self: center; */
    /* justify-self: center; */
}

.gameGrid .box:hover{
    transform: scale(1.1);
    background-color: rgb(204, 248, 248);
}



.box.x{
    /* content: "❌"; */
    font-size: 100px;
    cursor: not-allowed;
}

.box.circle{
    /* content: "⭕"; */
    font-size: 100px;
    cursor: not-allowed;
}

.gameGrid.x .box:not(.x):not(.circle):hover::before{
    content: "❌";
    opacity: 0.2;
    font-size: 100px;
}

.gameGrid.circle .box:not(.x):not(.circle):hover::before{
    content: "⭕";
    opacity: 0.2;
    font-size: 100px;
}

.reset{
    /* margin-left: auto; */
    /* width: 100px; */
    /* margin-right: auto; */
    margin-top: 50px;
    
}

.reset button{
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: xx-large;
}